@{
  ViewData["Title"] = $"Details for {@Model.UserName}";
}
@model StuffSwapClient.Models.AppUser;

<h1>User Profile for @Model.UserName</h1>

@* //image link *@


<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.UserId })</p>
<p>@Html.ActionLink("Delete animal", "Delete", new { id = @Model.UserId })</p>
<p>@Html.ActionLink("Return to all animals", "Index")</p>