@{
  Layout = "_Layout";
}

<h1>Add a new tool</h1>

@model StuffSwapClient.Models.Tool

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm())
{
  <h5>Tool name</h5>
  @Html.TextBoxFor(model => model.ToolName)<br>
  @Html.LabelFor(model => model.ToolDescription)
  @Html.TextBoxFor(model => model.ToolDescription)<br>
  //All tools are available upon creation by default
  @Html.LabelFor(model => model.ToolStatus)
  @Html.TextBoxFor(model => model.ToolStatus)<br>

  @Html.LabelFor(model => model.ToolPhoto)
  @Html.TextBoxFor(model => model.ToolPhoto)

  <h6>Please select a cateogry</h6>

  <input type="radio" value="Arts and crafts" name="ToolCategory"/>
  <label for="ToolCategory">Arts and crafts</label><br>

  <input type="radio" value="Home improvement" name="ToolCategory"/>
  <label for="ToolCategory">Home improvement</label><br>


  <input type="radio" value="Recreation" name="ToolCategory"/>
  <label for="ToolCategory">Recreation</label><br>

  <input type="radio" value="Other" name="ToolCategory"/>
  <label for="ToolCategory">Other</label><br>

  <br>

  <input type="submit" value="Add tool">
}
<hr>
<p>@Html.ActionLink("Back to Main Page", "Index", "Home")</p>