@{
  Layout = "_Layout";
}
<style>
.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background:rgb(206, 164, 122);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}
</style>

<h1>Add a new tool</h1>

@model StuffSwapClient.Models.Tool

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}
<div class="form">
@using (Html.BeginForm())
{
 @Html.LabelFor(model => model.ToolName)
 <br>
  @Html.TextBoxFor(model => model.ToolName)
  <br>
  @Html.LabelFor(model => model.ToolDescription)
   <br>
  @Html.TextBoxFor(model => model.ToolDescription)
  <br>
  @Html.LabelFor(model => model.ToolStatus)
  <br>
  @Html.TextBoxFor(model => model.ToolStatus)
<br>
  @Html.LabelFor(model => model.ToolPhoto)
  <br>
  @Html.TextBoxFor(model => model.ToolPhoto)
<br>
  <h6>Please select a cateogry</h6>

  <input type="radio" value="Arts and crafts" name="ToolCategory"/>
  <label for="ToolCategory">Arts and crafts</label><br>

  <input type="radio" value="Home improvement" name="ToolCategory"/>
  <label for="ToolCategory">Home improvement</label><br>


  <input type="radio" value="Recreation" name="ToolCategory"/>
  <label for="ToolCategory">Recreation</label><br>

  <input type="radio" value="Other" name="ToolCategory"/>
  <label for="ToolCategory">Other</label><br>
  <br>

  <input type="submit" value="Add tool">
}
</div>
<hr>
<p>@Html.ActionLink("Back to Main Page", "Index", "Home")</p>