@{
  ViewData["Title"] = $"Details for {@Model.ToolName}";
}
@model StuffSwapClient.Models.Tool;

<img src="@Model.ToolPhoto">
<div class="details-box">

<p>Category: @Model.ToolCategory</p>
<p>Description: @Model.ToolDescription</p>
<p>Status: @Model.ToolStatus</p>
<p>Due Date: @Model.ReturnDate</p>
</div>

<div class="button-confirm"
@Html.DisplayNameFor(tool => tool.ToolName): @Html.DisplayFor(tool => tool.ToolName)
@using (Html.BeginForm())
{
  <input type="submit" value="Edit" />
}
</div>

<p>@Html.ActionLink("Delete this tool", "Delete", new { id = @Model.ToolId })</p>
<p>@Html.ActionLink("Return to all tools", "Index")</p>

