@{
  ViewData["Title"] = $"Details for {@Model.ToolName}";
}
@model StuffSwapClient.Models.Tool;

<img src="@Model.ToolPhoto">
<div class="details-box">

<p>Category: @Model.ToolCategory</p>
<p>Description: @Model.ToolDescription</p>
<p>Status: @Model.ToolStatus</p>
<p>Owner: @ViewBag.UserName</p>
<p>Due Date: @Model.ReturnDate</p>
</div>


<a href="/tools/edit/@Model.ToolId"><button>Edit</button></a>
<p>@Html.ActionLink("Delete this tool", "Delete", new { id = @Model.ToolId })</p>
<p>@Html.ActionLink("Return to all tools", "Index")</p>

